
build/
build-debug/
.libs/
.deps/
*.la
*.lo
*.o
*.so
*.dylib
configure
config.log
config.status
autom4te.cache/
Makefile.in
aclocal.m4
compile
depcomp
install-sh
ltmain.sh
missing
mcdc-redis/*
*.rdb
*.pyc
